.profile {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}

.reserveRocket,
.joined ul {
  width: fit-content;
  padding: 8px;
  font-size: 1.2rem;
  border-radius: 10px;
}

.reservedRocketContainer,
.joined {
  width: 30rem;
  border-radius: 10px;
  height: inherit;
  transition: 0.3s;
  box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.2);
}

.reservedRocketContainer:hover,
.joined:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

.heading {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: blueviolet;
}

.reservedRockets,
.joined ul {
  width: 100%;
}

.reservedRockets li,
.joined li {
  list-style: none;
  text-align: center;
  padding: 15px;
  font-size: 1.2rem;
}

.reservedRockets li:nth-child(even),
.joined li:nth-child(even) {
  background-color: rgb(186, 145, 226);
  color: white;
}
