.profile {
  margin: 100px;
}

.reservedRocket,
.joined {
  display: inline-block;
  width: 40%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  margin: 20px 40px;
  text-align: center;
  border-radius: 8px;
}

.profile h2 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
  padding: 3px;
  margin: 10px;
}

.profile ul {
  margin-top: 20px;
}

.profile li {
  height: 40px;
  text-align: left;
  list-style: ro;
  border-bottom: 1px solid var(--grey-bd);
  padding: 10px 20px;
  color: darkslategrey;
}